{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contact-bg-eye.jpg' %}{% endblock %}
{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>

{% endblock %}


{% block content %}
<div class="col-lg-8 col-md-10 mx-auto">
    <p><b>Teléfono:</b>  55-44-67-16-75</p>
    <p><b>Correo:</b> william.tappan@outlook.com</p> 
    <p><b>Honorarios:</b> 1200$/h (precio base)</p>

</div>
{% endblock %} 